<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <style>
        body {
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-end"><a href="/logout">LOGOUT</a></div>
        
        <div class="text-center">ID: <%= id %></div>
        <div class="text-center">First Name: <%= firstName %></div>
        <div class="text-center">Last Name: <%= lastName %></div>
        <img class= "rounded mx-auto my-5 d-block" src="<%= profileImageURL %>" width="200" alt="No Image Found">
    </div>
    
</body>
</html>